@using Game.Common.ModelsDto;
<h3 class="TitleText">CHECKERS</h3>
@if (_showPrelodrt)
{
    <div class="spinner-border centerOnParrentHorizontal" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    @if (_someononeJoined)
    {
        <div class="alert alert-info">@_whoJoined joined</div>
    }
    <div class="divCenter1">
        @for (int i = 0; i < 8; i++)
        {
            int tmpI = i;
            <div class="row">
                @for (int j = 0; j < 8; j++)
                {
                    int tmpJ = j;
                    var checker = _blackCheckers.FirstOrDefault(x => x.Column == j && x.Row == i);

                    if (checker == null)
                        checker = _whiteCheckers.FirstOrDefault(x => x.Column == j && x.Row == i);

                    _canMove = _cellsPossible.Contains((i, j));

                    <div @onclick="() => MoveChecker(tmpI, tmpJ)" class="cell @(_canMove ? "active" : "")">
                        @if (checker != null)
                        {
                            <div @onclick="() => CheckerClick(checker)"
                                 class="checker @checker.Color @(checker == _activeChecker ? "active" : "")">
                                <span>@(checker.Direction == CheckerDirection.Both ? "K" : "")</span>
                            </div>

                        }
                    </div>
                }
            </div>
        }
    </div>
    @if (_gameEnd)
    {
        <div class="alert alert-info">@_endMess</div>
    }
}